/* arvo-regular - latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
	font-display: optional;
  src: url('/assets/fonts/arvo-v14-latin-regular.woff2') format('woff2');
}
/* arvo-700 - latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
	font-display: optional;
  src: url('/assets/fonts/arvo-v14-latin-700.woff2') format('woff2');
}

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: 'Arvo', Garamond;
	font-size: 16px;
	line-height: 1.5;
}

html {
	font-size: 100%;
}

body {
	padding: 0;
	width: 100%;
	min-height: 100vh;
	padding-block: 5rem;
	display: grid;
	background: #1B1C31;
	color: white;
	letter-spacing: 0.07rem;
}

h1 {
	font-size: 2.1rem;
	font-weight: 700;
}

h2 {
	font-size: 1.6rem;
	margin-bottom: 0.6em;
	font-weight: 400;
}

h3 {
	font-size: 1.4rem;
	margin-bottom: 0.6em;
	font-weight: 700;
}

p {
	font-size: 1.15rem;
	margin-bottom: 1.6em;
}

a {
	color: #B4B5DB;
}

section {
	margin-block: 0.5rem;
	width: clamp(40%, 70rem, 80%);
	margin-inline: auto;
}

.button-link {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 0.8em 1.5em;
	background: #55566D;
	border-radius: 0.5rem;
	color: white;
	text-decoration: none;
}

.button-link:hover {
	background: #373747;
}

#introduction {
	margin-bottom: 3rem;
}

@media screen and (min-width: 70em) {
	#introduction {
		display: flex;
		align-items: center;
		gap: 8rem;
	}
}

#portrait {
	display: block;
	width: 14em;
	height: 14em;
	border-radius: 50%;
	margin-bottom: 3rem;
	margin-inline: auto;
}


