---
import Tour from '../components/Tour.astro';

const title = 'My Astro Site';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="stylesheet" href={Astro.resolve('../styles/style.css')}>
</head>
<body>
	<section id="introduction">
		<img id="portrait" src="/assets/images/patrik-nilsson.jpg" alt="Patrik Nilsson portrait" />
		<div>
			<h1>Patrik Nilsson</h1>
			<h2>Frontend Developer</h2>
			<p>I have mainly worked with developing enterprise and B2B applications. From this I've gained specialized knowledge and experience in JavaScript programming, Data Management platforms, Data Analytics systems and development of Single Page Applications. With an educational background in Systems Science, and as a former independent developer, I've also learned to take a holistic approach trying to find solutions that truly bring business value.
			<br/><br/>If you would like to connect with me, feel free to add me on LinkedIn or send me an email.
			<br/><br/>Best Regards, Patrik</p>
			<br />
			<a class="button-link" target="_blank" href="https://www.linkedin.com/in/patriknil90/">Connect on LinkedIn</a>
			<a class="button-link" target="_blank" href="https://github.com/patriknil90">Github Profile</a>
		</div>
	</section>
</body>
</html>
