---
const title = 'Patrik Nilsson - Frontend Developer';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<meta name="description" content="Patrik Nilsson is a Frontend developer residing in Gothenburg, Sweden. He specialises in building high quality enteprise web applications.">
	<meta name="author" content="Patrik Nilsson">
	<meta name="keywords" content="Front End developer,Frontend developer,developer,resume,consultant,SPA,Single Page application,react,javascript,typescript">
	<meta name="robots" content="index,follow">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="preload" href="/assets/fonts/arvo-v14-latin-regular.woff" as="font" type="font/woff" crossorigin="anonymous" />
	<link rel="preload" href="/assets/fonts/arvo-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/assets/fonts/arvo-v14-latin-700.woff" as="font" type="font/woff" crossorigin="anonymous" />
	<link rel="preload" href="/assets/fonts/arvo-v14-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="stylesheet" href={Astro.resolve('../styles/style.css')}>
</head>
<body>
	<section id="introduction">
		<img id="portrait" src="/assets/images/patrik-nilsson.jpg" alt="Patrik Nilsson portrait" />
		<div>
			<h1>Patrik Nilsson</h1>
			<h2>Frontend Developer</h2>
			<p>I have mainly worked with developing enterprise and B2B applications. From this I've gained specialized knowledge and experience in JavaScript programming, Data Management platforms, Data Analytics systems and development of Single Page Applications. With an educational background in Systems Science, and as a former independent developer, I've also learned to take a holistic approach trying to find solutions that truly bring business value.
			<br/><br/>If you would like to connect with me, feel free to add me on LinkedIn.
			<br/><br/>Best Regards, Patrik</p>
			<a class="button-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/patriknil90/">Connect on LinkedIn</a>
			<a class="button-link" target="_blank" rel="noopener" href="https://github.com/patriknil90">Github Profile</a>
		</div>
	</section>
	<section>
		<h2>Work Experience</h2>
		<h3>Frontend developer @ <a title="Icomera website" href="https://www.icomera.com/">Icomera AB</a> 2020-01 to Present</h3>
		<p>Working in a team that's responsible for the development of a number of Single Page applications built with React, mainly used for data analysis, configuration and administration. Icomera is the global leader in delivering mobile connectivity solutions for trains and buses. These applications are essential for both administrators that works at the customer and for the in-house personel at Icomera.</p>
		<h3>Frontend developer consultant @ <a title="TietoEvry website" href="https://www.tietoevry.com/">TietoEvry</a> 2018-02 to 2020-01</h3>
		<p>At TietoEvry I where assigned to a variety of projects and software management commitments, mainly as a Front End developer. For approximately 18 months I consulted a Global car manufacturing company, developing a Data management solution within their autonomous vehicle segment. I worked in a cross functional team that developed and maintained both a REST API and a React application, with my focus on the latter.</p>
		<h3>Frontend developer @ <a title="Struqtur landing page" href="https://sv.struqtur.se/">Vendium AB</a> 2016-06 to 2018-02</h3>
		<p>The work consisted primarily of transforming a large-scale web-based business and project management system from a traditional MVC structure to a Single Page Application built with Angular (2+) and TypeScript. The application consists of a GUI, of which I had the responsibility to develop, and a GraphQL API that was consumed by the GUI.<br/><br/>Vendium was at the time a startup with only a handful employees. This required a high degree of responsibility, structure and transparency to help developing the product efficiently.</p>
		<h3>Independent web developer consultant 2014-05 to 2016-12</h3>
		<p>I was helping small local businesses to create informational websites about their company, products and services. This typically involved setting up a WordPress site, adding content and style it according to the customers requirements. Often the customer also received help with hosting, DNS settings, email accounts etc.</p>
	</section>
	<section>
		<h2>Education</h2>
		<h3>Bachelor in Systems Science - University of Gothenburg 2013-09 - 2016-06</h3>
		<p>The program aims to educate about IT and implementation of systems in organizations. My key takeaways is the fundamentals of object oriented programming, modelling and a basis of theoretical knowledge on how to apply IT efficiently.</p>
	</section>
</body>
</html>
