---
import Tour from '../components/Tour.astro';

const title = 'My Astro Site';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="stylesheet" href={Astro.resolve('../styles/style.css')}>
</head>
<body>
	<h1>Hello World!</h1>
</body>
</html>
